/*ToDo: test in other Browsers
    ToDo: shadow and gradient add support for all Browser*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.23);
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    outline: none;
    cursor: pointer;
    border-style: none;
    background: none;
    font-family: inherit;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.23);
}

h5 {
    margin: 0;
}

#action-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 470px;
    margin: 6% auto;
    border-radius: 100px;
    border: 3px solid #09b2cb;
    background-color: white;
}

#button-box {
    justify-content: space-around;
    width: 300px;
    margin: 3em auto 2em auto;
}

.buttons-title {
    font-size: 1.5em;
}

.little-button-box {
    align-items: center;
    margin-top: 1em;
}

.time-button { /*ToDo: change color*/
    font-size: 1.5em;
}

.time-display {
    font-size: 3em;
}

#circle {
    width: 300px;
    height: 300px;
    margin: 0 auto 0 auto;
    padding: 5px;
    border-radius: 200px;
    border: 3px solid #09b2cb;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /*ToDO: Add Support for all Browser*/
    justify-content: center;
    align-items: center;
}

#progress-circle { /*ToDo: add padding*/
    height: 290px;
    width: 290px;
    border-radius: 200px;
    background: linear-gradient(0deg, rgb(9, 178, 203) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); /*ToDO: Add Support for all Browser*/
}

#clock {
    width: 100%;
    font-size: 5em;
}

h4 {
    margin: 0;
    padding: 1em 0 0 0;
}

#progress-buttons-box {
    flex-direction: column;
    justify-content: flex-start;
}

.progress-buttons {
    font-size: 3em;
    font-weight: 700;
}

#reset {
    padding-top: 0.4em;
}

footer {
    padding-top: 1.5em;
}


