html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#action-box { /* ToDo: box size responsive*/
    margin: auto;
    flex-direction: column;
}

#progress-circle {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    border: 3px solid black;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#counter-progress {
    width: 300px;
    height: 300px;
}

#progress {
    background-color: aqua;
    height: 0px;
}

#clock {
    position: absolute;
    top: 180px;         /*ToDo: change position to responsive*/
    font-size: 5em;
    margin: 0;
}

h4 {
    display: inline-flex;
    margin: 0;
}

#start-resume {
    position: absolute;
    top: 240px;
    font-size: 3em;
}

#reset {
    position: absolute;
    top: 290px;
    font-size: 3em;
}

#progress {
    width: 300px;
    height: 0;
    background-color: #09b2cb;
}

p {
    display: inline-flex;
}

#button-box {
    justify-content: space-around;
}

.time-box {
    width: 50%;
}

h5 {
    margin: 0;
}

.buttons-title {
    font-size: 1.5em;
}

.little-button-box {
    align-items: center;
}

.time-button {
    font-size: 3em;
    font-weight: 300;
}

.time-display {
    font-size: 3em;
}

button {
    outline: none;
    cursor: pointer;
    border-style: none;
    background: none;
}
